/*html {
  background-color: #F0ECEE; Background-color
  color: black;
}*/

body {
  background-color: #F0ECEE; Background-color
  color: black;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  /*---------------------------------------------*/
  width: auto;
  padding: 10px 10px;
  margin: 10px;
}

 header {
    display: flex;
    flex-direction: column;
  }

.logo {
  font-size: 1.6rem;
  font-weight: 600;
  }

p {
  color: #88898B;
  font-size: 1.1rem;
  margin: 15px 0px;
}

span {
  color: #FF4850; /*Word emphasis color*/
}

button {
  color: white;
  background-color: #FF4850; /*Button background color*/
  padding: 10px; /*Button padding*/
  border-radius: 15px; /*Button border-radius*/
  display: flex;
  display: inline-block;
  width: 100%;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  padding: 10px 10px;
}

button:hover {
  color: #FF4850; /*Navigation/button text hover color*/
  background-color: #CCC; /*Button hover background color*/
}

ul {
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  /*margin: 10px;*/
}

.lowerHalf {
  margin: 30px auto;
}

h2 {
    font-weight: 600;
    font-size: 2.3rem;
    text-align: left;
  }

a {
  color: #88898B; /*Navigation link color*/
  text-decoration: none;
  list-style-type: none;
}

a:hover {
  color: #FF4850; /*Navigation/button text hover color*/
}




/* Desktop Styling Below ----------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 768px) {
  /*html {
    background-image: url("bulldog.jpg");
    background-size: cover;
  }*/

  body {
    background-image: url("bulldog.jpg");
    background-size: cover;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    flex: 1;
    font-size: 1.4rem;
    font-weight: 600;
  }

  .navBar {
    flex: 1;
    display: flex;
    flex-direction: row;

  }

  #bodyParagraph {

  }

  h1 {
    flex: 1;
  }

  .nav {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    padding: 0;
  }

  li {
    flex: 1;
    justify-content: space-around;
    text-align: center;
    /*margin-left: auto;*/
  }

  button {
    color: white;
    background-color: #FF4850; /*Button background color*/
    padding: 10px; /*Button padding*/
    border-radius: 15px; /*Button border-radius*/
    width: auto; /*Auto width on desktop*/
    border: none;
    cursor: pointer;
    display: flex
  }

  #bodyButton {
    width: 100px;
  }

  .navButton {
    align-self: baseline;
    margin: auto;
    text-align: center;
  }

  #lowerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between
    margin: auto;
    /*width: 100%;*/
    margin: 150px 0px;
  }

  #desktopH2 {
    font-weight: 600;
    font-size: 1.9rem;
    margin: 15px 0px;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: auto;
    flex-grow: 1;
  }

  .middle {
    flex: 1;
    width: auto;
    flex-grow: 1;
  }

  .right {
    flex: 1;
    width: auto;
    flex-grow: 1;
  }

  .mainElement {
    flex: 1;
  }
}